:root {
  --color-off-white: #fafafa;
  --color-off-black: #121212;

  --color-light-bg: var(--color-off-white);
  --color-light-fg: var(--color-off-black);
  --color-dark-bg: var(--color-off-black);
  --color-dark-fg: var(--color-off-white);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  font-family: "Courier New", monospace;
  background-color: var(--color-dark-bg);
  transition: background-color 0.2s;
  color: var(--color-dark-fg);
  line-height: 1.4;
}

a {
  color: var(--color-dark-fg);
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 40%;
}

@media (max-width: 1024px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  body {
    align-items: flex-start;
    padding-top: 20px;
    height: auto;
    /* Adjust height dynamically to content */
    min-height: auto;
    /* Prevent reserving extra space */
  }

  .container {
    width: 90%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}


.toggle-btn i {
  font-size: 1.2em;
}

.toggle-btn:hover {
  opacity: 0.75;
}

.light-mode {
  background-color: var(--color-light-bg);
  color: var(--color-light-fg);
}

.light-mode a {
  color: var(--color-light-fg);
}

.light-mode .toggle-btn {
  color: var(--color-light-fg);
}
