:root {
  --color-light-bg: white;
  --color-light-fg: #121212;
  --color-dark-bg: #121212;
  --color-dark-fg: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  font-family: "Courier New", monospace;
  background-color: var(--color-dark-bg);
  transition: background-color 0.2s;
  color: var(--color-dark-fg);
  line-height: 1.4;
}

a {
  color: var(--color-dark-fg);
}

a:hover {
  text-decoration: none;
}

.container {
  width: 40%;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hero {
  border-bottom: 1px solid var(--color-dark-fg);
  padding-bottom: 10px;
}

.body-content {
  padding-top: 10px;
}

.toggle-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}


.toggle-btn i {
  font-size: 1.2em;
}

.toggle-btn:hover {
  opacity: 0.75;
}

.light-mode {
  background-color: var(--color-light-bg);
  color: var(--color-light-fg);
}

.light-mode a {
  color: var(--color-light-fg);
}

.light-mode .toggle-btn {
  color: var(--color-light-fg);
}

.light-mode .hero {
  border-color: var(--color-light-fg);
}
