  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Person",
        "name": "{{ site.name }}",
        "url": "{{ site.url }}",
        "sameAs": [
          "{{ site.codeUrl }}",
          "{{ site.pressUrl }}",
          "{{ site.substackUrl }}",
          "{{ site.fromScratchGithubUrl }}",
          "{{ site.personalGithubUrl }}",
          "{{ site.linkedInUrl }}"
        ],
        "jobTitle": "Software Mentor, Tutor, and Writer",
        "worksFor": [
          {
            "@type": "Organization",
            "name": "{{ site.codeName }}",
            "url": "{{ site.codeUrl }}",
            "description": "{{ site.codeDescription }}",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.codeUrl }}/favicon-512x512.png"
            }
          },
          {
            "@type": "Organization",
            "name": "{{ site.pressName }}",
            "url": "{{ site.pressUrl }}",
            "description": "{{ site.pressDescription }}",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.pressUrl}}/favicon-512x512.png"
            }
          }
        ],
        "description": "{{ site.description }}",
        "knowsAbout": [
          "Rust",
          "Python",
          "Software Mentorship",
          "Web Development",
          "Writing",
          "Creativity"
        ],
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}"
        }
      }
    ]
  }
  </script>
