body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 0;
  height: 100%;
}

.section {
  max-width: 30%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .section {
    max-width: 85%;
    padding-top: 50px;
  }
}
